/*
 *@_variables : all variables 
 *
 */

 $kr:"kr";
 //Font $pri-color
 
 $f-color: #525c68;
 $f-color-light:#758292;

 $theme:(
     pri-color :#ff6600,
     pri-color-dk :#e65c00,
     pri-color-dk-hover:#cc5200,
     sec-color: #12aa15,
     sec-color-dk:#109312, //Need to update
     sec-color-dk-hover:#0d7c0f //Need to update
 )